.container {
  padding: 0;
  margin: 0;
  flex-flow: row;
  display: flex;
  justify-content: space-around;
  border: solid 2px rgb(109, 0, 217);
  list-style: none;
}
.item {
  line-height: 60px;
  background-color: plum;
  text-align: center;
  width: 100px;
  height: 60px;
  padding: 5px;
  font-weight: bold;
}
