header {
  background-color: rgb(135, 146, 146);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: aliceblue;
  align-items: center;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

ul a {
  color: aliceblue;
  text-decoration: none;
  margin-right: 20px;
}

.hero {
  background-color: antiquewhite;
}

.hero img {
  background-position: center;
  object-position: center;
  width: 100%;
  object-fit: cover;
}

.grid {
  display: flex;
  flex-direction: row;
}

.card {
  background-color: rgb(194, 149, 53);
  width: 100%;
  margin: 10px;
  padding: 20px;
  text-align: center;
}

@media (max-width: 741px) {
  header {
    flex-direction: column;
  }

  ul {
    margin-top: 0px;
    justify-content: space-between;
    flex-direction: column;
  }
  ul a {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    margin-right: 0;
  }
}

@media (max-width: 550px) {
  .grid {
    flex-direction: column;
    justify-content: center;
    width: 86%;
  }

  .card {
    flex-direction: column;
  }
}
